@charset "UTF-8";
/* 考试详情 */
.kaoshi-xiangqing{ width: 1200px; margin: 0 auto; position: relative; margin-top: 50px; }
.kaoshi-xiangqing-controlBtn{padding-left: 10px; margin-top: 20px; width: 80px; height: 25px; background: #888888; text-align: center;}
.kaoshi-xiangqing table{border-collapse: collapse; table-layout:fixed;}
.kaoshi-xiangqing .tablel{margin-top: 50px;}
.kaoshi-xiangqing .tablel tr th{width:120px; text-align: right; background-color: #DDAA00;}
.kaoshi-xiangqing .tablel tr td{padding-left: 5px;}
.kaoshi-xiangqing .tablel tr th,.kaoshi-xiangqing .tablel tr td{border:1px solid #DDDDDD; height: 50px; font-size: 16px;} 
.kaoshi-xiangqing-controlBtn .maBtn{background: #888888; margin-top: 3px;}
.kaoshi-xiangqing-search-test{ height: 50px; padding-left: 5px; line-height: 50px; margin-top: 20px; width: 100%; border:1px solid #DDDDDD;}
.kaoshi-xiangqing-search-test{ width: 1192px; }
.kaoshi-xiangqing-table table{ border-collapse: collapse; table-layout:fixed; text-align: center;}
.kaoshi-xiangqing-table table tr th,.kaoshi-xiangqing-table table tr td{  border:1px solid #DDDDDD; font-size: 16px; padding: 5px;}
.kaoshi-xiangqing-table table tr th{ background:#00DDDD;height: 50px;}
.kaoshi-xiangqing-table table tr td{ word-break:break-all;}
/* .kaoshi-xiangqing-table table tr td{ padding: 2px; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.kaoshi-xiangqing-table table tr td:hover{ overflow: visible; } */
.kaoshi-xiangqing-search-test .mainIn{ width: 180px; height: 30px; border-radius: 5px; }
.kaoshi-xiangqing-search-test button{ height:30px;width: 80px; background: #00BBFF; text-align: center; border-radius: 5px; }
.kaoshi-xiangqing-table a{ padding: 10px; color: #000000;}
.kaoshi-xiangqing-table a:hover{ text-decoration: underline; color: #770077;}
.kaoshi-xiangqing-search-test #que-db{padding: 5px; margin-left: 10px; border-radius: 5px; width: 180px; color: #888888; }


/* 试卷管理 */
.pageTest{ width: 1200px; margin: 0 auto; position: relative; margin-top: 50px; }
.pageTest-title{ font-size: 30px;font-weight: bold; padding-left: 5px }
.pageTest-controlBtn{padding-left: 10px; }
.pageTest-controlBtn{ margin-top: 20px; }
.pageTest-maBtn{ width: 80px; height: 25px; background: #888888; text-align: center;}
.pageTest-leadBtn{ margin-left: 10px; width: 100px; height: 25px; background: #ffffff; text-align: center; }
.pageTest-search-test{ height: 50px; padding-left: 5px; line-height: 50px; margin-top: 20px; width: 100%; border:1px solid #DDDDDD;}
.pageTest-search-test{ width: 1192px; }
.pageTest-table table{ border-collapse: collapse; table-layout:fixed; text-align: center;}
.pageTest-table table tr th,.pageTest-table table tr td{  border:1px solid #DDDDDD; height: 50px; font-size: 16px; }
.pageTest-table table tr th{ background:#00DDDD;  }
.pageTest-table table tr td{ padding: 2px; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.pageTest-table table tr td:hover{ overflow: visible; }
.pageTest-mainIn,.pageTest-people { width: 180px; height: 30px; border-radius: 5px; }
.pageTest-search-test button{ height:30px;width: 80px; background: #00BBFF; text-align: center; border-radius: 5px; }
.pageTest-table a{ padding: 6px; color: #000000;}
.pageTest-table a:hover{ text-decoration: underline; color: #770077;}

/* 试卷修改 */
.test-xiugai{ width: 1024px; margin: 0 auto; }
h1{margin-top: 50px;}
h1,.test-xiugai-controlBtn{padding-left: 10px; }
.test-xiugai-controlBtn{ margin-top: 20px; }
.test-xiugai-maBtn{ width: 80px; height: 25px; background: #888888; text-align: center;}
.test-xiugai-leadBtn{ margin-left: 10px; width: 100px; height: 25px; background: #888888; text-align: center; }
.test-xiugai-leading,.test-xiugai-ex-tab{ position: relative; margin-top: 20px;}
.test-xiugai .test-leading-infol,.test-xiugai .test-leading-info{ font-size: 14px; margin-left: 5px; padding-left: 10px;}
.test-xiugai .test-leading-infol span,.test-xiugai .test-leading-info span{ font-size: 25px; }
.test-xiugai .test-leading-infol,.test-xiugai .test-leading-info{ color: #D1BBFF; }
.test-xiugai .test-leading-infol span{ color: #FFBB00; }
.test-xiugai .test-leading-info span{color: #00DD00; }
.test-xiugai .test-leading-info a{ text-decoration: underline; color:#000088; }
.test-xiugai-ex-tab table{ border-collapse: collapse; table-layout:fixed;}
.test-xiugai-ex-tab table tbody tr th,.test-xiugai-ex-tab table tbody tr td{ border:1px solid #DDDDDD; }
.test-xiugai-ex-tab table  tbody tr th{ width: 100px; height: 35px; background-color: #CCEEFF; text-align: right; font-size: 14px; font-weight: normal;}
.test-que-select, .test-xiugai-search-file{padding: 5px; margin-left: 10px;}
.test-que-select{ border-radius: 5px; width: 180px; color: #888888; }
.test-xiugai .test-subBtn,.test-xiugai .test-rembtn{ width: 50px; height: 35px; font-size: 16px; text-align: center; border-radius: 5px; margin-top: 10px; }
.test-xiugai .test-subBtn{ margin-left: 50px;  background-color: #006DCC; }
.test-xiugai .test-rembtn{ margin-left: 100px; background-color: #888888;}
.test-xiugai .test-input1,.test-xiugai table tr td p{margin: 10px; font-size: 18px;}
.test-xiugai .test-input1{ width: 870px;height: 300px; }
.test-xiugai-foot{ height:59px; background:url(../images/top-bg.png) repeat-x; margin-top:130px; position:relative;}
